html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lora', serif;
    color: #DADADA;
}

a:hover {
    background-color: none;
}

.navbar {
    background-color: #010f1d;
    color: #DADADA;
    border: none;
}

.navbar-default .navbar-nav > li > a {
    color: #DADADA;
    font-size: 2.4rem;
    font-weight: bold;
}

.navbar-brand {
    padding-left: 25px;
}

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
    color: #DADADA;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #EED000;
}

.loading-layer {
    height: 100%;
    width: 100%;
    position: fixed;
    display: block;
    background-color: #666666;
    z-index: 10000;
}

#container {
    /* width: 3000px; */
    height: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: #010f1d;
}

.slides {
    background-color: transparent;
    position: absolute;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 !important;
    padding: 75px 0 0 0 !important;/*for visibility of content*/
}

.canvas-container {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
}

#canvas {
    width: 100%;
    height: 100%;
}

.social-media-icon {
    margin: 10px 20px 10px 0;
    height: 40px;
    width: auto;
}

/*@media all and (min-width: 768px) {
    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }
}*/