html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lora', serif;
    color: #FFFFFF;
    overflow-x: hidden;
}

body {
    /*background-image: url("../img/background.svg");*/
    /*background-image: url("../img/a.svg");*/
    opacity: 0;
}

.no-float {
    float: none;
}

.loading-logo {
    width: 47%;
    height: auto;
    opacity: 0;
}

.loading-layer {
    height: 100%;
    width: 100%;
    position: fixed;
    display: block;
    z-index: 10000;
}

a:hover {
    background-color: transparent;
}

.main-container {
    opacity: 0;
}

.navbar {
    /*background-color: #010f1d;*/
    background-color: transparent;
    color: #FFFFFF;
    border: none;
}

.navbar-fixed-top {
    background-color: transparent;
}

.navbar-brand {
    padding-top: 5.5px;
    padding-left: 15px;
    margin-right: 12px;
}

.navbar-default .navbar-nav > li {
    margin-right: 12px;
}

.navbar-default .navbar-nav > li:last-child {
    margin-right: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-size: 1.9rem;
    font-weight: bold;
    padding-top: 22px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #EED000; /* If you change this, do not forget to look for "color:#EED000" in bootstrap.min.css and change with the same color as the hover color */
    border-bottom: solid #EED000 2px;
}

.logo {
    width: auto;
    height: 40px;
}

.icn-logo {
    position: fixed;
    right: 0;
}

.canvas-container {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    /*opacity: 0; */
}

.canvas-hidden {
    opacity: 0;
}

#canvas {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.slides section {
    width: 100%;
    height: 100%;
    padding: 0 !important;
}

.section-background-container {
    width: 100%;
    height: 100%;
    position: fixed;
}

.section-background-image {
    width: 100%;
    height: 100%;
}

#synopsis {
    background-image: none;
    margin-top: 20vh;
    padding-right: 60px;
}

#synopsis-title {
    color: #222222;
    font-size: 4rem;
    font-weight: 900;
}

#synopsis-text {
    color: #333333;
    font-size: 1.5rem;
    margin-left: 10px;
    font-weight: 500;
}

.cast-outer-container {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.cast-inner-container {
    height: 33.333333%;
    padding-left: 0;
    padding-right: 0;
}

.cast-image {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.cast-image:hover {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
}

.history-container {
    width: 100%;
    height: 100%;
    padding-top: 75px;
}

.history-container > .header {
    opacity: 0.9;
}

.history-container > .text {
    opacity: 0.8;
}

.history-container > .row > div > h2.text-center {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.history > p {
    text-align: justify;
    font-size: 1.8rem;
}

.sponsors-container > .container-fluid {
    padding-top: 75px;
}

.sponsors-container > .container-fluid > .container-fluid {
    padding-left: 35px;
}

.sponsors-container > .container-fluid > .row {
    margin-bottom: 40px;
}

.sponsor-header {
    margin-bottom: 30px;
}

.sponsor-logo {
    height: 40px;
    margin-right: 45px;
}

.ticket-container {
    padding-top: 75px;
    padding-left: 0;
    padding-right: 0;
}

#clicking-area {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: transparent;
}

#form-area {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: transparent;
}

#footer {
    min-height: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.sponsor-slider {
    width: 80%;
    margin-bottom: 0;
}

.sponsor-logo-slider {
    height: 45px;
    width: auto;
    margin-right: 30px;
}

.social-media-container {
    position: fixed;
    right: 10px;
    bottom: 8px;
}

.social-media-icon {
    margin: 10px 20px 10px 0;
    height: 25px;
    width: auto;
}

@media all and (min-width: 851px) {
    .navbar-header {
        position: fixed;
    }

    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }
}

@media all and (max-width: 850px) {
    .icn-logo {
        display: none;
    }
}

@media all and (min-width: 950px) {
    .sponsor-slider {
        width: 75%;
    }
}

@media all and (max-width: 950px) {
    .sponsor-slider {
        width: 70%;
    }
}