html, body {
    height: 100%;
    width: 100%;
	font-family: 'Lora', serif;
    color: #DADADA;
	background-color: #010f1d;
}

.navbar {
    background-color: #010f1d;
    border: none;
}

.navbar, .navbar-brand {
    color: #DADADA !important;
    font-size: 1.1em;
    font-weight: bold;
}

.navbar-brand {
	padding-left: 25px;
}

.loading-layer {
    height: 100%;
    width: 100%;
    position: fixed;
    display: block;
    background-color: #666666;
    z-index: 10000;
}

.container {
	padding-top: 5em; 
}

legend {
	font-family: 'Lora', serif;
    color: #DADADA;
}

div.radio {
	padding-left: 3rem;
}

.btn {
	opacity:1 !important;
}

@media (max-width: 767px) {
    .no-float {
        float: none;
    }
}